<p>Self-censorship in higher education is defined as refraining from examining specific research questions,
  teaching specific topics, or sharing specific theories, evidence or idea, through publication or public
  or private expression (collectively, "professional expression"), because of fear of professional (e.g.
  losing job or promotion), legal (e.g. prosecution or fine), or violent retaliation (e.g. harassment,
  assault), whether from state or non-state sources, against yourself or others (e.g. family members).
</p>
<button type="button" name="button">Next</button>
