html {
  scroll-behavior: smooth;
}

.container {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow: auto;
}

.container .form-screen {
  scroll-snap-align: start;
  padding-top: 15%;
  height: 95vh;
}
